.container_12
  .grid_12.align_center
    %h1 DOM

    %div.description
      %h2
        Give us your opinion on rubyconfar 2011!

      %h3
        %a{:href => "http://jointstorm.tk/storms/aa0ad2d00ab511e1956308c23c3ed1f7"}
          http://jointstorm.tk/storms/aa0ad2d00ab511e1956308c23c3ed1f7

    %br/

    %a{:href => "https://github.com/EmmanuelOga/dom-perignon"}
      https://github.com/EmmanuelOga/dom-perignon

  .clear
